<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <link rel="shortcut icon" href="../images/Logo.webp" type="image/x-icon" />
    <title>L&B | Equipo Tecnico</title>
    <link rel="stylesheet" href="../assets/css/global.css" />
    <link rel="stylesheet" href="../assets/css/navbar.css" />
    <link rel="stylesheet" href="../assets/css/footer.css" />
    <link rel="stylesheet" href="../assets/css/cinta.css" />
    <link rel="stylesheet" href="../assets/css/equipo.css" />
    <link rel="stylesheet" href="../assets/css/nosotros.css" />
    <link rel="stylesheet" href="../assets/css/global.css" />


    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#">
          <img
            src="../images/Logo.webp"
            alt="Logo"
            width="ms-auto"
            height="80"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="nosotros.html">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="equipotecnico.html">Equipo Tecnico</a></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="productos.html">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="locales.html">Sucursales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contacto.html">Contacto</a>
            </li>
          </ul>
          <a href="#login" class="btn btn-outline-light ms-lg-3"
            >Iniciar Sesión</a
          >
        </div>
      </div>
    </nav>
    

        <!-- Hero -->
    <section class="hero-nosotros">
      <div class="overlay"></div>
      <div class="hero-content">
      </div>
    </section>

        <h2 class="titulo-home text-center mb-4">
          Conoce a nuestro <span class="text-green"> equipo Tecnico</span>
        </h2>
        <p class="text-center text-description">Contamos con amplia experiencia en campo y un equipo de profesionales altamente calificados que brindan soluciones 
          inmediatas y eficientes para mejorar la producción y calidad de los cultivos.</p>

        <section class="containeri py-5">
    <!-- Tarjeta 1 -->
    <div class="card">
      <img src="../images/equipo/jefe.jpg" alt="Foto autor">
      <div class="card-content">
        <h3 class="py-3">Israel Garcia</h3>
        <p><strong>Jefe Comercial</strong></p>
        <a href="locales/grau.html" class="sede-link">Sede Grau-Sullana
          </a> <p> Celular: <a href="https://wa.me/51968701492" class="sede-link">+51 968 701 492</a></p>
      </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="card">
      <img src="../images/equipo/asesorTecnica.jpg" alt="Foto autor">
      <div class="card-content">
        <h3 class="py-3">Doris Aguilar</h3>
        <p><strong>Asesor Técnico Comercial</strong></p>
        <a href="locales/piura.html" class="sede-link">Sede Principal Piura
          </a> <p> Celular: <a href="https://wa.me/51969338455" class="sede-link">+51 969 338 455</a></p>
      </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="card">
      <img src="../images/equipo/asesor.jpg" alt="Foto autor">
      <div class="card-content">
        <h3 class="py-3">Luis Garcia</h3>
        <p><strong>Asesor Técnico Comercial</strong></p>
        <a href="locales/buenosaires.html" class="sede-link">Sede Buenos Aires
          </a> <p> Celular: <a href="https://wa.me/51968701492" class="sede-link">+51 968 701 492</a></p>
      </div>
    </div>

    <!-- Tarjeta 4 -->
    <div class="card">
      <img src="../images/equipo/aserso3.webp" alt="Foto autor">
      <div class="card-content">
        <h3 class="py-3">Francisco Ortega</h3>
        <p><strong>Asesor Técnico Comercial</strong></p>
        <a href="locales/launion.html" class="sede-link">Sede La Union
          </a> <p> Celular: <a href="https://wa.me/51969380072" class="sede-link">+51 969 380 072</a></p>
      </div>
    </div>

    <!-- Tarjeta 5 -->
    <div class="card">
      <img src="../images/equipo/asesor4.jpg" alt="Foto autor">
      <div class="card-content">
        <h3 class="py-3">Jose Chero</h3>
        <p><strong>Asesor Técnico Comercial</strong></p>
        <a href="locales/santasofia.html" class="sede-link">Sede Santa Sofia
          </a> <p> Celular: <a href="https://wa.me/51969380004" class="sede-link">+51 969 380 004</a></p>
      </div>
    </div>

    <!-- Tarjeta 6 -->
    <div class="card">
      <img src="../images/equipo/asesor5.jpg" alt="Foto autor">
      <div class="card-content">
        <h3 class="py-3">Walter Ruiz</h3>
        <p><strong>Asesor Técnico Comercial</strong></p>
        <a href="locales/tambogrande.html" class="sede-link">Sede Tambogrande
        </a> <p> Celular: <a href="https://wa.me/51969380001" class="sede-link">+51 969 380 001</a></p>
      </div>
    </div>
  </section>



        <!-- cinta de provee -->
    <section id="nosotros" class="">
    <h2 class="titulo-home text-center mb-4">
        Acerca de nuestros <span class="text-green">Proveedores</span>
      </h2>
      <div class="scroll">
        <div>
          <img class="imgpro" src="../images/logoprovee/logo1.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo2.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo3.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo4.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo5.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo6.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo7.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo8.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo9.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo10.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo11.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo12.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo13.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo14.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo15.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo16.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo17.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo18.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo19.webp" alt="" />
        </div>

        <div>
          <img class="imgpro" src="../images/logoprovee/logo1.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo2.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo3.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo4.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo5.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo6.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo7.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo8.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo9.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo10.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo11.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo12.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo13.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo14.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo15.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo16.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo17.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo18.webp" alt="" />
          <img class="imgpro" src="../images/logoprovee/logo19.webp" alt="" />
        </div>
      </div>
    </section>


    <!-- Footer -->
    <footer class="footer">
      <div class="footer-container">
        <!-- Columna 1 -->
        <div class="footer-col">
          <h3>Lyba Agronegocios</h3>
          <p>
            Líderes en la transformación y comercialización de productos
            agrícolas, comprometidos con la calidad y la sostenibilidad.
          </p>
          <div class="social-links">
            <a href="#"><i class="bx bxl-facebook"></i></a>
            <a href="#"><i class="bx bxl-linkedin"></i></a>
            <a href="#"><i class="bx bxl-instagram"></i></a>
          </div>
        </div>

        <!-- Columna 2 -->
        <div class="footer-col">
          <h3>Enlaces Rápidos</h3>
          <ul>
            <li><a href="#home">Inicio</a></li>
            <li><a href="#about">Nosotros</a></li>
            <li><a href="#services">Servicios</a></li>
            <li><a href="#products">Productos</a></li>
            <li><a href="#contact">Contacto</a></li>
          </ul>
        </div>

        <!-- Columna 3 -->
        <div class="footer-col">
          <h3>Contáctanos</h3>
          <p><i class="bx bx-map"></i> Av. Sanchez Cerro 1406 Piura</p>
          <p><i class="bx bx-phone"></i> +51 969 502 347</p>
          <p>
            <i class="bx bx-envelope"></i>
            oc_agroindustrias@lybagronegocios.com.pe
          </p>
        </div>
      </div>

      <div class="footer-bottom">
        <p>&copy; 2025 Lyba Agronegocios. Todos los derechos reservados.</p>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
