    .containeri {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3 por fila */
      gap: 30px;
      max-width: 1000px;
      margin: 0 auto
    }

    .card h3 {
      margin: 0;
      font-size: 1em;
    }

    .card p {
      margin: 1px 0 0;
      font-size: 1em;
      line-height: 1;
    }

    /* Contenedor de la tarjeta */
    .card {
      border: 1px solid #000;
      border-radius: 16px;
      overflow: hidden;
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      background: #ffffff;
    }

    /* Imagen de la tarjeta */
    .card img {
      
      transition: transform 0.4s ease;
      height: 400px;
      max-width: 100%;
      object-fit: cover;
    }

    /* Hover de la tarjeta */
    .card:hover {
      transform: translateY(-10px);
      box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
    }

    /* Zoom suave en la imagen */
    .card:hover img {
      transform: scale(1.08);
    }

    .sede-link {
    text-decoration: none;
    color: inherit;
    font-size: 1em;
    }

    .sede-link:hover {
      color: #137506;
    }

    /* Responsive */
    @media (max-width: 900px) {
      .containeri {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (max-width: 600px) {
      .containeri {
        grid-template-columns: 1fr;
        max-width: 70%;
      }
    }