* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Hero */
.hero-nosotros {
  position: relative;
  height: 80vh;
  background: url("../../images/slider-1.webp") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.hero-nosotros .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(105, 181, 23, 0.7),
    rgba(0, 0, 0, 0.5)
  );
  z-index: 1;
}

.hero-nosotros .hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 0 1rem;
}

.hero-nosotros h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.hero-nosotros p {
  font-size: 1.2rem;
}
/*titulos*/
.titulo-home {
  font-size: 3rem;
  color: #255946;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.text-green {
  color: #69b517;
}

/*imagen del mapa*/
.localesMapa {
  width: 80%;
  height: auto;
}

.mapa-container {
  position: relative;
  display: inline-block;
}
/* Estilos base del marcador */
.map-point {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 10;
}

/* Tooltip */
.map-container {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Map_of_Peru_%28%2Bisolated%29.svg/800px-Map_of_Peru_%28%2Bisolated%29.svg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  border: 1px solid #ccc;
}

/* Área invisible para el hover */
.map-point .hover-card {
  display: block;
  width: 40px;
  height: 50px;
  background: transparent;
  position: absolute;
  top: -10px;
  left: -10px;
}

/* --- Tooltip Card --- */
.map-point .card {
  position: absolute;
  top: -170px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: transform 0.3s cubic-bezier(0.74, -0.03, 0.05, 1.24), opacity 0.3s;
  opacity: 0;
  width: 250px;
  height: 180px;
  background: #ffffff;
  border-radius: 18px;
  overflow: hidden;
  pointer-events: none;
  z-index: 100;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Mostrar tooltip */
.map-point:hover .card {
  transform: translateX(-50%) scale(1);
  opacity: 1;
  pointer-events: auto;
}

/* --- Imagen en lugar del iframe --- */
.map-point .bg-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-size: cover;
  background-position: center;
  border-radius: 18px 18px 0 0;
  transition: transform 0.3s ease;
  z-index: 1;
}

/* Efecto zoom suave al hover */
.map-point:hover .bg-map {
  transform: scale(1.05);
}
.highlight {
  background-color: #e6ffe6;
  transition: background-color 0.8s ease;
}
