* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fondo-navbar: #ffffff;
  --text-navbar: #2e7d32;
  --text-active-navbar: #191a19;
  --fondo-btn-navbar: transparent;
  --text-btn-navbar: #09490c;
  --border-btn-navbar: var(--text-navbar);
}
.navbar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 0.5rem 0;
  background-color: var(--fondo-navbar) !important;
}

.navbar-nav .nav-link {
  color: var(--text-navbar);
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: color 0.2s, background 0.2s;

  padding: 0.5rem 1rem;
}

.navbar-nav .nav-link.active {
  color: var(--text-active-navbar);
  background-color: --;
  transition: color 0.2s, border-bottom-color 0.2s;
}
.navbar-nav .nav-link:hover {
  color: var(--text-active-navbar);
  border-bottom: 2px solid #09490c;
  transition: color 0.2s, border-bottom-color 0.2s;
}
.btn-outline-light {
  border-width: 2px;
  font-weight: 500;
  transition: background 0.2s, color 0.2s;
}

.btn-outline-light {
  background: var(--fondo-btn-navbar);
  color: var(--text-btn-navbar);
  border-color: var(--border-btn-navbar);
}
.navbar-toggler {
  border-color: var(--text-navbar);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(46,125,50)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
